.postItem{
    background: white;
    border:1px solid whitesmoke;
    text-align:left;
    padding:5px 15px;
    margin: 10px;
    box-shadow:0 4px 8px 0 white;
    transition:0.3s;
    border-radius:5px;
}
.title
{
    font-weight:bold;
    color: tomato;
}